<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests"  thread-count="3" name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="FirstPacakage.First2"/>
      
    </classes>
  </test>
  <test thread-count="5" name="Test1">
    <classes>
 
      <class name="FirstPacakage.First1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
